$titleColor: rgb(36, 35, 43);
$btnColor: #178c1b;
<<<<<<< Updated upstream
$btnColorHover: #178c1b;
$boxColor: rgb(36, 35, 43);
$resultColor: rgb(36, 35, 43);
$bgcColor: rgb(18, 17, 23);
=======
$btnColorHover: #147517;
$boxColor: rgb(36, 35, 43);
$resultColor: rgb(36, 35, 43);
$bgcColor: #121117;
>>>>>>> Stashed changes
$textColor: rgb(91, 89, 99);
// $textColor: rgb(58,57,65);

.dark {
	$titleColor: #000;
}
